body {
    background-color: #c9cecc;
    padding: 0;
    margin: 0;
}

.header {
    background-color: red;
    height: 20vh;
    text-align: center;
}

.header h1 {
    text-align: center;
    line-height: 90px;
    font-family: fantasy;
    color: white;
    border: 1px solid;
    display: inline-block;
    width: 200px;
    background: url(/assets/images/3fort.jpg) top / cover , no-repeat ;
    border-radius: 10px;
    
}

.main {
    
    background: url(/assets/images/9fort.jpg) top / cover , no-repeat ;
    height: 60vh;
    text-align: center;
    padding: 1px;
}

.section {
    display: inline-block;
    width: 600px;
    height: 100%;
    background: rgba(187, 182, 182, 0.664);
    background-blend-mode: overlay;
}

.divimg {
    display: inline-block;
    padding-top: 25px;
    
    

}

.divimg img {
    margin-bottom: 15px;
    border-radius: 30px;
    width: 12vw;
    height: 100%;
    
}
.divtext{
    padding: 15px;
    text-align: justify;
    margin: 0 30px 0 0;
    width: 300px;
    height: 100%;
    background-color: rgba(209, 201, 201, 0.425);
    display: inline-block;
    vertical-align: top;
}
.divtext1{
    padding: 15px;
    text-align: justify;
    margin: 0 0 0 30px;
    width: 300px;
    height: 100%;
    background-color: rgba(209, 201, 201, 0.425);
    display: inline-block;
    vertical-align: top;
}
h1{
    font-family: cursive;
}
p{
    font-family: cursive;
    color: rgb(40, 3, 143);
}
.footer {
    background-color: aqua;
    height: 20vh;
}